<html>
<head><title>Herzlich Willkommen</title></head>



<body>

    <div align="center">

Waehlen Sie aus, welche Verteilung von den Patientendaten Sie sehen wollen.

<br/>
<br/>
<br/>

<div><a href="sex">Geschlecht</a></div>
<div><a href="race">Ethnie</a></div>
<div><a href="nationality">Nationalitaet</a></div>
<div><a href="relationship">Beziehungsstatus</a></div>
<div><a href="religion">Religioese Orientierung</a></div>
<div><a href="income">Einkommen</a></div>

    </div>
</body>

</html>
