.DragAndDrop{
    height: 60px;
    width: 100%;
    line-height: 60px;
    text-align: center;
    margin: 10px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    border-color: blue;

}

.Sunburst{
    height: 850px;
    width: 65%;
    float: right;
    border-style: solid;

}

.Search{
    height: 25px;
    width: 29%;
    border-style: solid;

}

.Navigation{
    overflow: scroll;
    height: 300px;
    width: 35%;
    text-align: left;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;



}

.NumberOfPatients{
    height: 25px;
    width: 35%;
    text-align: center;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;

}

.NavSex{
    overflow: scroll;
    height: 250px;
    width: 35%;
    text-align: center;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;

}

.NavAge{
    overflow: scroll;
    height: 250px;
    width: 35%;
    text-align: center;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;

}

.Dia{
    overflow: scroll;
    height: 850px;
    width: 65%;
    float: right;
    border-style: solid;

}

.Types{
    height: 525px;
    width: 35%;
    text-align: center;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;

}

.Scroll{
    overflow: scroll;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;

}

.container {
  margin-top: 20px;


}