
.DragAndDrop{
    height: 60px;
    width: 100%;
    line-height: 60px;
    text-align: center;
    margin: 10px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    border-color: blue;
    font-size: 20px;
}

.Sunburst{
    height: 800px;
    width: 70%;
    float: right;
    border-style: solid;
    font-size: 20px;
}

.Search{
    height: 25px;
    width: 29%;
    border-style: solid;
    font-size: 20px;
}

.Navigation{
    overflow: scroll;
    height: 250px;
    width: 29%;
    text-align: center;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    font-size: 20px;
}

.NumberOfPatients{
    height: 25px;
    width: 29%;
    text-align: center;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    font-size: 20px;
}

.NavSex{
    overflow: scroll;
    height: 250px;
    width: 29%;
    text-align: center;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    font-size: 20px;
}

.NavAge{
    overflow: scroll;
    height: 250px;
    width: 29%;
    text-align: center;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    font-size: 20px;
}

.Dia{
    overflow: scroll;
    height: 800px;
    width: 70%;
    float: right;
    border-style: solid;
    font-size: 20px;
}

.Types{
    height: 525px;
    width: 29%;
    text-align: center;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    font-size: 20px;
}

.Scroll{
    overflow: scroll;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    font-size: 20px;
}



