label {
    font-weight: 400;
    margin-left: 10px;
}

.DragAndDrop {
    height: 60px;
    width: 100%;
    line-height: 60px;
    text-align: center;
    margin: 10px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    border-color: blue;
    font-size: 20px;
}

.Sunburst {
    height: 711px;
    width: 75%;
    float: right;
    border-style: solid;
}

.Tabs {
    position: relative;
    top: -5px;
    height: 40px;
    width: 25%;
    color: blue;
}

.Navigation {
    overflow: scroll;
    height: 250px;
    width: 25%;
    text-align: center;
    border-left: solid;
    border-bottom: solid;
}

.NumberOfPatients {
    height: 30px;
    width: 25%;
    text-align: center;
    border-left: solid;
    border-bottom: solid;
    font-size: 20px;
}

.NavSex {
    overflow: hidden;
    height: 170px;
    width: 25%;
    text-align: center;
    border-left: solid;
    border-bottom: solid;
    font-size: 20px;

}

.NavSex .js-plotly-plot .plot-container .svg-container {

    height: 200px;
    top: -61px;

}

.NavAge .js-plotly-plot .plot-container .svg-container {

    height: 200px;
    top: -76px;

}

.NavAge {
    overflow: hidden;
    height: 220px;
    width: 25%;
    text-align: center;
    border-left: solid;
    border-bottom: solid;
    font-size: 20px;
}

.jsx-3468109796 {
    position: relative;
    top: -6px;
    font-size: 20px;
}


.DiaBar {
    overflow: scroll;
    height: 711px;
    width: 50%;
    float: right;
    border-style: solid;
    font-size: 20px;
    position: relative;
    left: -25%;
}

.alterBar .js-plotly-plot .plot-container .svg-container {
    position: relative;
    width: 459.594px;
    height: 300px;
    top: -2px;

}


.sdBar .js-plotly-plot .plot-container .svg-container {
    overflow: hidden;
    position: relative;
    width: 200px;
    top: 2px;
    height: 350px;
    left: -24px;

}


.DiaPie {
    overflow: scroll;
    height: 711px;
    width: 25%;
    float: right;
    border-style: solid;
    font-size: 20px;
    position: relative;
    left: 630px;

}

.Types {
    height: 421px;;
    width: 25%;
    text-align: left;
    border-left: solid;
    border-bottom: solid;
    font-size: 20px;
    position: absolute;
    top: 410px;
}

.Search {
    height: 40px;
    width: 25%;
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
    font-size: 20px;
}

.container {
    margin-top: 5%;
}

.path {
    position: absolute;
    font-size: 15px;
    top: -10px
}

#search {
    margin-left: 2%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 3px 5px;
    border: 2px solid #1a1db8;
    border-radius: 100px;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background: -moz-linear-gradient(top, #ffffff, #ffffff);
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}

#search:focus {
    border: 2px solid #4149ff;
    color: #ffffff;
    text-decoration: none;
}

#search:active {
    background: #1a1db8;
    background: -webkit-gradient(linear, left top, left bottom, from(#1a1db8), to(#1a1db8));
    background: -moz-linear-gradient(top, #1a1db8, #1a1db8);
    background: linear-gradient(to bottom, #1a1db8, #1a1db8);
}

#search:before {
    content: "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 1px;
    left: 5px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABv0lEQVRIibXWsWpUURAG4C+XZQmLhK1SiLW1aUREsLEIwUIsJA9gkSq17Auk8CFErIKPELBJEYggpPQJRNhKiQqJuynOXD17PPdmjWbgcObOGeaf+e/MuXcFjWuUNvis43z2r/qgcthk+hib2MAapjjCO/yo+Ff1kqIGI+zhFHOc4Tt+xvMn7BQJdkpTrJt4H8HeRgXruIFb2MZhAO1HMmWMfC1UMIrgX7FVnOX6ALsB8jo7q/rnxr3IfGuJqmESIE8vA2ikF3oq0dJXcr5W8REnPT6/kLYjm81aFj16W8Xtmk9u2MA5PmS2rh7P5Tj2O7XDts0aqc/P8a0A7pLW50vsa4UdmnySpxhK72KWZXyZvh7P05pPjnYU6A8y2zJXwsPYj7t8WpBVaUIPJeqW6aIxPuOgx2eBsx2pI3YL8Jre4I10jdzr8y8ndD9AJlFVTcYRfC5RO+zwWwBosxpJ4z+XhmiCR7iLx3gp0XIWwed4pZvW6m3aSON/EgHKdSDRMozgOUiZeG/PN9KEPsNzPJFu21wGBcgfdJUUXWWVIDldVYquoud0vbAkRX8rgwh+vzWs+P3tvLa/i/9FUVW/ADg4cUA7VpvJAAAAAElFTkSuQmCC") no-repeat left center transparent;
    background-size: 100% 100%;
}

#reset {
    margin-left: 2%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 3px 5px;
    border: 2px solid #1a1db8;
    border-radius: 100px;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background: -moz-linear-gradient(top, #ffffff, #ffffff);
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
#reset:hover,
#reset:focus {
    border: 2px solid #4149ff;
    color: #ffffff;
    text-decoration: none;
}
#reset:active {
    background: #1a1db8;
    background: -webkit-gradient(linear, left top, left bottom, from(#1a1db8), to(#1a1db8));
    background: -moz-linear-gradient(top, #1a1db8, #1a1db8);
    background: linear-gradient(to bottom, #1a1db8, #1a1db8);
}
#reset:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 1px;
    left: 5px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABr0lEQVRIibWVvU4CQRDHf2zIFVQ8ACaGghBjZWWI4Tl4gAsVsSS0lDyBL+QZiaEwxsryCmJJRaHhLGaW21tvj0NwkoFh5/vP7GwDMPwj2eC7gH53qtwsURpPNsAdcAtcqC4FnoGnA747twscBUALmAJrIFPeKtvfKTABIirIlHAXeNMgK2AM9IG2cg+IgURtEqATiFXowB7ea6Vjchh9O/s9AjbAhybxbUqnyGilVV278o0mScjhKiQ4B48QuCbe+T7TFTAvqa6ubLSDFIG10EEELIEvYFACiU+hZLF2MfQTzMhH7x0Z0b/A1NMYU+eMa4qznQGLA5X68iXwAryq/ycy3g/ox0oPMzVaqtMxtPCK3Grx+2qmqujVgKKMWwi8NsHMxrYJhqqIK6A4JA+QQVnirA9r0ERGLPGcjqU5MvK/KjDIJcmQS3OuC1ioNtIONsj1rwtR2w3o2/hwdJDFtXE6CVETWYhbZEGWkguR5Q7FVRwj02XXdV8Dr8hHu0sNiNzfEfKfpIQfnDUy3i3Pdy83VAi9yRaGAfmTacifzEfgu8K3kOCU0aykEERnkX8A7KVuion90moAAAAASUVORK5CYII=") no-repeat left center transparent;
    background-size: 100% 100%;
}

#add {
    position: relative;
    top: 15%;
    float: right;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 13px;
    border: 2px solid #1a1db8;
    border-radius: 100px;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background: -moz-linear-gradient(top, #ffffff, #ffffff);
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}

#add:hover,
.button:focus {
    border: 2px solid #4149ff;
    color: #ffffff;
    text-decoration: none;
}

#add:active {
    background: #1a1db8;
    background: -webkit-gradient(linear, left top, left bottom, from(#1a1db8), to(#1a1db8));
    background: -moz-linear-gradient(top, #1a1db8, #1a1db8);
    background: linear-gradient(to bottom, #1a1db8, #1a1db8);
}

#add:before {
    content: "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 1px;
    left: 5px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAtUlEQVRIie2U0Q3CMAxEH1ZGYBLE7sAOiEmYoeWjBQUTN+ciJIQ4KZLTnnPJJTaAieMEjPM4qHnGhIE2ou8R5yUujZ8WxNHCEd+AwXzWwu4UTngCL9QTVjkPgfpYfv6WRSVIiuZpRBYpMCX2Ft0JH31F0atYhQ1ThSrYAds5vgIXVWDM70vHmstNoQBHkbvn2aKzKrJUxXXsu2mPb63FIf+K5G6avY9UL6rVv67Q/hZ18eMW3QAsFVORTNXqLQAAAABJRU5ErkJggg==") no-repeat left center transparent;
    background-size: 100% 100%;
}

#run {
    height: 48px;
    width: 10%;
    position: absolute;
    left: 31%;
    top: 72px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 13px;
    border: 2px solid #1a1db8;
    border-radius: 100px;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background: -moz-linear-gradient(top, #ffffff, #ffffff);
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}

#run:hover,
#run:focus {
    border: 2px solid #4149ff;
    color: #ffffff;
    text-decoration: none;
}

#run:active {
    background: #1a1db8;
    background: -webkit-gradient(linear, left top, left bottom, from(#1a1db8), to(#1a1db8));
    background: -moz-linear-gradient(top, #1a1db8, #1a1db8);
    background: linear-gradient(to bottom, #1a1db8, #1a1db8);
}

#run:before {
    content: "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 1px;
    left: 5px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABAUlEQVRIib3VsUoEMRAG4O/Ww1p8Bl/D1tJeK+0tbHwG8WnEXrC2U8FH8Bo7C0GQPYtzNWSTXNbd84eBn92ZTPLPZDJDY4PoFm8z/9speHyCZmpeSjAas6kXTCE+VpPgKb8qvmV1iuX3x2XAj3CHdzzgMwgOY9byJmPnQcJHHBR8S5YtcpigsxvsDZEoVeDcnYBDPOMSOwW/3o7XSZSyF5xgXlhjsEQpu8duFPvDh0qUQhvE9EZF6g7E/Z/DAqfYx1si/s8SfeDKb5EHz6IOqQTXVm1ajXkme4wnXOC2wreHnETHeMUZtlVIkeOl3YyetDUSjU7y7y/apKjtolHYqERfZOFIlsu7kSoAAAAASUVORK5CYII=") no-repeat left center transparent;
    background-size: 100% 100%;
}

#save {
    height: 48px;
    width: 5%;
    position: absolute;
    left: 95%;
    top: 72px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 13px;
    border: 2px solid #1a1db8;
    border-radius: 100px;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background: -moz-linear-gradient(top, #ffffff, #ffffff);
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}

#save:hover,
#save:focus {
    border: 2px solid #4149ff;
    color: #ffffff;
    text-decoration: none;
}

#save:active {
    background: #1a1db8;
    background: -webkit-gradient(linear, left top, left bottom, from(#1a1db8), to(#1a1db8));
    background: -moz-linear-gradient(top, #1a1db8, #1a1db8);
    background: linear-gradient(to bottom, #1a1db8, #1a1db8);
}

#save:before {
    content: "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 4px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABgElEQVRIibWVP08DMQzFfw0FVVUHpooNJiYmBvh8qDtfqgOqGBgqFjbmMiBB/4jCHcO9NL70kmuLsBSd47z4ObZz6QCOf5SuvoUhckDPzIsWHyuDsX42ujd0gREwA+bAUmPeMp6AMxMcse6VEVACa20sNXLO18I8G5ItcYp+pg3XwEAbl8BQ86ZxAUyFnYrERQMnsI9qIOIymjceX05jkq0UpQjaTtDV/qEh8enKEjhCDXKFHhsSe5JHY0+eYGJIUuOB0OpQ1WRt/djFWG4za47Q+7Yeb8CXBaYIdrndqaLXMCkCG90++pafXKQT4IeQ75w+STnJpehGuv3XNOF6wjYF25qiFXAOLBK4PvAqkqYgilwXeaIF8NmCScquXbRvV21sqY1xVPZ/X7RgarZ9XrMioWfFp2hFletT4BJ4kd1RFTIlfUJqBtp7ArzLZ+1FO+TBiXH+ARp5v0dAR8axjFfAMdUF+tZaTizuA7gH7mSnQ7jqhz76Ftd4KXMt+Wf9F0HapS7/z2KwAAAAAElFTkSuQmCC") no-repeat left center transparent;
    background-size: 100% 100%;
}


#load {
    height: 48px;
    width: 5%;
    position: absolute;
    left: 90%;
    top: 72px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 13px;
    border: 2px solid #1a1db8;
    border-radius: 100px;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background: -moz-linear-gradient(top, #ffffff, #ffffff);
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}

#load:hover,
#load:focus {
    border: 2px solid #4149ff;
    color: #ffffff;
    text-decoration: none;
}

#load:active {
    background: #1a1db8;
    background: -webkit-gradient(linear, left top, left bottom, from(#1a1db8), to(#1a1db8));
    background: -moz-linear-gradient(top, #1a1db8, #1a1db8);
    background: linear-gradient(to bottom, #1a1db8, #1a1db8);
}

#load:before {
    content: "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 4px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABPElEQVRIibWVsU7DQAyGv1o3VFVHhs59DSaepo/HIzAwdGCKMnViZWBFQgIlDPXRw7GTy0lYsuLc+f7fduzLBhD+UTL4EOwPxhZVuz5r2wwksA/Ai+qhwl+8Re89g/fAqNobklmRBbXglmTp/CQtW5YMfgG+VC9BJlUl8sB74Ah8qB6BziEJCTw9G4B9QbA3AXRACnDCj/yoJDk6S5Cz7IDXgsDNoEY8AhQ4OVhCsFErdkjFPAEkGafsMDi2Fc9nYnuRR6MfyexVkYqFtWWq8i8JllK20lQi22prSyRF0G6JnoFv4KEC3JufJ8W8jxxH/vZ5uZe4Dt7ZCQxuczLas3MEa8QS/EZliQTYNRDscIbNdtE7cMf1bmmRrWLk3+uki07AWyM4evak9gCw4da7ZXrbRoJPnO6r/ek32T917mIkgZixtAAAAABJRU5ErkJggg==") no-repeat left center transparent;
    background-size: 100% 100%;
}

.modebar {
    display: none !important;
}
